*{
	background-color: #7b898d;
    height: 80px;
    color: #dcebf0;
    font-size: 40px;
    gap: 20px;
    margin-top:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}